<!-- Desktop Navigation -->
<div class="grid-x align-justify align-middle navigation" id="swup-header">

  <div class="auto cell">
    <button class="white" aria-label="Navigation" data-toggle="overlayNavigation">{% if bodyClass == "project" %}{{ entry.title }} <span class="dark-gray padding-left">{{ entry.client }}</span>{% else %}{{ siteName }} <span class="dark-gray padding-left">Cinematographer</span>{% endif %}</button>
  </div>

  <div class="shrink cell">
    <button class="white" aria-label="Navigation" data-toggle="overlayNavigation"><svg class="icon icon-lens"><use xlink:href="/assets/icons/symbol-defs.svg#icon-lens"></use></svg></button>
  </div>

</div>
<!-- End Desktop Navigation -->