{% set bodyClass = 'home' %}

{% if entry.seoTitle | length %}
{% set seoTitle = entry.seoTitle %}
{% else %}
{% set seoTitle = entry.title %}
{% endif %}

{% if entry.seoDescription | length %}
{% set seoDescription = entry.seoDescription %}
{% endif %}

{% set projects = entry.projects.all() %}

{% extends "default/_layouts/site" %}

{% block navigation %}
{% include "_includes/global/navigation" %}
{% endblock %}

{% block main %}


<div class="grid-x">
<div class="small-12 cell">
<div class="hero">

<div class="image--hero" data-aos="new-animation"></div>
{% if entry.previewVideo %}
  <video autoplay loop muted playsinline class="video" poster="">
    <source src="{{ entry.previewVideo }}" type="video/mp4">
  </video>
{% endif %}
</div>

</div>
</div>
</div>

{% endblock %}


{% block footer %}
{% include "_includes/global/footer" %}
{% endblock %}

