@font-face {
  font-family: 'System';
  src: 
  url('../fonts/sf-pro-display-regular.woff2') format('woff2'),
  url('../fonts/sf-pro-display-regular.woff') format('woff'),
  url('../fonts/sf-pro-display-regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gallery';
  src: 
  url('../fonts/gallery.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}