//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Plugins
//   4. Color
//   5. Typography
//   6. Navigation
//   7. Off-canvas
//   8. Layout
//   9. Home
//   10. Menu / Food
//   11. Find Us
//   12. Story
//   13. Hire Us
//   14. Contact
//   15. Page
//   16. Footer


// 1. Mixins
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

// 2. Global
// ---------

a {
	outline: none;
}

button:focus,
a:focus {
	outline: none;
}

body {
  cursor: default;
  font-kerning: normal;
  margin: 0;
}

svg {
  max-width: 100%;
}

::selection {
  background: $primary-color;
  color: $white;
}

:focus {
  outline: 0;
}

/*
body {
cursor: url('/assets/img/cursor.png') 16 16, auto !important;
cursor: -webkit-image-set(
url('/assets/img/cursor.png') 1x,
url('/assets/img/cursor@2x.png') 2x,
) 16 16, auto !important;
}
*/


// 4. Color
// --------

.white {
  color: $white;
}

.medium-gray {
  color: $medium-gray;
  @include links ($medium-gray, $black);
}

.light-gray {
  color: $light-gray;
}

.dark-gray {
  color: $dark-gray;
  @include links ($dark-gray, $black);
}

.primary-color {
  color: get-color(primary);
}

.secondary-color {
  color: get-color(secondary);
}

.light-gray-background {
  background-color: $light-gray;
}

.medium-gray-background {
  background-color: $medium-gray;
}

.dark-gray-background {
  background-color: $dark-gray;
}

.black-background {
  background-color: $black;
  @include links ($dark-gray, $medium-gray);
}


// 5. Typography
// -------------
.small {
font-size: 80%;
letter-spacing: 0.1rem;
}

.menu .menu-text {
font-weight: normal;
}

strong, b {
font-family: $sans-bold;
}

a {
  transition: color .35s cubic-bezier(.39, .575, .565, 1);
}

.text-underline {
  border-bottom: 1px solid get-color(primary);
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

p {
  a {
    border-bottom: 1px solid get-color(primary);
    transition: border-bottom .35s cubic-bezier(.39, .575, .565, 1);
    &:hover {
      border-bottom: 1px solid transparent;   
    }
  }
}

.sans-regular {
  font-family: $sans-regular;
}

.sans-bold {
  font-family: $sans-bold;
}

// X. Header
// ---------


// X. Images
// ---------


// X. Offcanvas
// ---------

.off-canvas-wrapper {
    overflow: visible;
}

.off-canvas-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header, nav, footer {
    flex-shrink: 0;
}

main {
    flex: 1 0 auto; /* Use 1 0 auto instead of just 1 for backwards compatibility with other browsers */
}

.off-canvas {
  @include links ($white, $medium-gray);
  color: $white;
}

.off-canvas .menu .active a {
  color: $medium-gray;
}

// X. News
// ---------

// X. Clients
// -----------



// X. Footer
// ---------

.navigation {
z-index: 1;
}

footer {
  color: $medium-gray;
  @include links ($medium-gray, $black);
}

footer {
  color: $medium-gray;
  @include links ($medium-gray, $black);
}


.home .hamburger-inner {
  &,
  &::before,
  &::after {
    background-color: $white;
  }
}

$scrollhide-nav-transition-speed: 1s;

.scrollhide-nav {
  transition: transform $scrollhide-nav-transition-speed cubic-bezier(0.86, 0, 0.07, 1);

  &.hidden {
    transform: translateY(-100%);
  }
}



.padding-vertical-space-1 {
  @include breakpoint(small) {
    @include padding(1, null, 1, null);
  }
  @include breakpoint(medium) {
    @include padding(2, null, 2, null);
  }
  @include breakpoint(large) {
    @include padding(2, null, 2, null);
  }
}

.padding-space-1 {
  @include breakpoint(small) {
    @include padding(1, 1, 1, 1);
  }
  @include breakpoint(medium) {
    @include padding(3, 3, 3, 3);
  }
  @include breakpoint(large) {
    @include padding(5, 5, 5, 5);
  }
}

header, nav {
  @include breakpoint(small) {
    @include padding(1, 1, 1, 1);
  }
  @include breakpoint(medium) {
    @include padding(1, 1, null, 1);
  }
  @include breakpoint(large) {
    @include padding(1, 3, null, 3);
  }
  @include breakpoint(xxlarge) {
    @include padding(2, 4, null, 4);
  }
}

main {
  @include breakpoint(small) {
    @include padding(0, 1, 1, 1);
  }
  @include breakpoint(medium) {
    @include padding(0, 1, null, 1);
  }
  @include breakpoint(large) {
    @include padding(0, 3, null, 3);
  }
  @include breakpoint(xxlarge) {
    @include padding(0, 4, null, 4);
  }
}

footer {
  @include breakpoint(small) {
    @include padding(1, 1, 1, 1);
  }
  @include breakpoint(medium) {
    @include padding(1, 1, 1, 1);
  }
  @include breakpoint(xxlarge) {
    @include padding(2, 4, null, 4);
  }
}

.pagination-image {
  background-size: cover; 
  background-position: 50%;
  background-color: $light-gray;
}


@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
 .content {
    transition: $primary-transition;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
}

.image {
  @include aspect-ratio (2.4, 1);
  background-size: cover; 
  background-position: 50%;
}

.orbit-previous, .orbit-next {
color: $black;
}


.works__list {
  color: $medium-gray;
  @include links ($medium-gray, $black);
}

.works__list a {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
}

.works__list .active {
  color: $black;
}

/* PAGE ANIMATIONS */
.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

// Hover Effect

.block__link {
	position: relative;
	cursor: pointer;
  z-index: 0;
}

.hover-reveal {
	position: fixed;
	width: 300px;
	height: 200px;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
  z-index: -15;
}

.hover-reveal__inner,
.hover-reveal__img {
	width: 100%;
	height: 100%;
	position: relative;
}


.hover-reveal__img {
	background-size: cover;
	background-position: 50% 50%;
}

.home-link:after {
content: 'Steve Annis';
}

.home-link:hover:after {
  content: 'Director of Photography';
}

.meta {
background-color: transparent;
top: 50% !important;
left: 50% !important;
transform: translate(-50%, -50%);
position: absolute;
}

.project__client {
  padding-right: 0.5rem;
}

.excerpt a  {
  transition: $primary-transition;
  .content {
  background-color: rgba($black, 0);
  }
}

.excerpt a:hover  {
  .content {
  background-color: rgba($black, 0.25);
  }
}

// 5. Loading
// ------

.loader {
  z-index: 1040;
  position: fixed;
  background: $black;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; 
  opacity: 0;
  transition: $primary-transition;
  visibility: visible; 
  &.loading {
    opacity: 1;
  }
  &.loaded {
    opacity: 0;
    visibility: hidden;
  }
}