@font-face {
  font-family: 'Monument Grotesk Regular';
  src: 
  url('../fonts/monument-grotesk-regular.woff2') format('woff2'), 
  url('../fonts/monument-grotesk-regular.woff') format('woff'),
  url('../fonts/monument-grotesk-regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monument Grotesk Medium';
  src: 
  url('../fonts/monument-grotesk-medium.woff2') format('woff2'), 
  url('../fonts/monument-grotesk-medium.woff') format('woff'),
  url('../fonts/monument-grotesk-medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Univers Next Pro Regular';
  src: 
  url('../fonts/univers-next-pro-regular.woff2') format('woff2'), 
  url('../fonts/univers-next-pro-regular.woff') format('woff'),
  url('../fonts/univers-next-pro-regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}