@font-face {
  font-family: 'Marr Sans';
  src: 
  url('../fonts/marr-sans-regular.woff2') format('woff2'), 
  url('../fonts/marr-sans-regular.woff') format('woff'),
  url('../fonts/marr-sans-regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT America Condensed Bold';
  src: 
  url('../fonts/gt-america-condensed-bold.woff2') format('woff2'), 
  url('../fonts/gt-america-condensed-bold.woff') format('woff'),
  url('../fonts/gt-america-condensed-bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}