@font-face {
  font-family: 'Sans Regular';
  src: 
  url('../fonts/sans-regular.woff2') format('woff2'), 
  url('../fonts/sans-regular.woff') format('woff'),
  url('../fonts/sans-regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sans Small Caps';
  src: 
  url('../fonts/sans-sc.woff2') format('woff2'), 
  url('../fonts/sans-sc.woff') format('woff'),
  url('../fonts/sans-sc.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}