// Typography
// ----------

$line-height--tighter: 1;
$line-height--tight: 1.16;
$line-height--base: 1.6;

$letter-spacing--tighter: -0.027em;
$letter-spacing--tight: -0.018em;
$letter-spacing--looser: 0.25em;
$letter-spacing--loose: 0.125em;

$logo: 'Monument Grotesk Regular', serif;
$sans-display: 'Sans Small Caps', sans-serif;
$sans-regular: 'Sans Small Caps', sans-serif;
$sans-bold: 'Monument Grotesk Medium', sans-serif;
$sans-light: 'Monument Grotesk Regular', sans-serif;
$serif-display: 'Louize Display', sans-serif;
$serif-bold: 'GT Alpina Light', sans-serif;
$serif-regular: 'GT Alpina Light', serif;
$serif-italic: 'GT Alpina Light', sans-serif;
$serif-light: 'GT Alpina Light', sans-serif;
$mono-display: 'Louize Display', sans-serif;
$mono-bold: 'Louize Display', sans-serif;
$mono-regular: 'Louize Display', sans-serif;
$mono-light: 'Louize Display', sans-serif;

