<div class="grid-x grid-padding-x grid-padding-y padding-3 off-canvas">
  <div class="small-12 medium-6 cell">

  <!-- Signup -->  
  <div class="margin-bottom-1"><h2>Newsletter<h2></div>
    <form action="https://garethjohnsdesign.us2.list-manage.com/subscribe/post?u=e039fb7155e1e79ced51e3aff&amp;id=69043a24a2" method="post" target="_blank" novalidate="">

      <div class="input-group">
        <input class="input-group-field" type="email" name="EMAIL" id="mce-EMAIL" placeholder="Email Address">
        
        <div class="input-group-button">
        <input type="submit" class="button hollow secondary" value="Subscribe">
        </div>

      </div>
    
    </form>
  </div>
 <!-- End Signup -->

  </div>
</div>