---
layout: default
---

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">

    <div class="small-12 medium-6 cell" data-aos="fade-in">
        {{page.content | markdownify}}
    <div class="small dark-gray text-uppercase margin-top-2">Website by Reformation</div>
    </div>

    <div class="small-12 medium-shrink cell" data-aos="fade-in">
     {% for detail in page.details %}
        <div class="small text-uppercase">{{detail.title}}</div>
        {{detail.text | markdownify}}
      {% endfor %}
    </div>


  </div>
</div>